@media (max-width: 1200px) {
  body {
    background-color: #f44336;
  }

  .fundo-video {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
    min-height: auto;
    gap: 30px;
  }

  .container .mario {
    width: auto;
    max-width: 50%;
  }

  .container .informacoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 100%;
  }

  .container .descricao {
    color: #ffffff;
    width: 100%;
    text-align: center;
  }

  .container .botao-trailer {
    background-color: #263238;
  }
}

@media (max-width: 500px) {
  .cabecalho {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .cabecalho .menu {
    justify-content: center;
  }

  .cabecalho nav li a {
    padding: 8px 12px;
    font-size: 20px;
  }

  .container {
    padding: 0 20px 24px;
  }

  .container .imagem-titulo {
    width: 75%;
    max-width: 75%;
  }

  .container .descricao {
    margin: 20px 0;
    font-size: 16px;
  }

  .modal .fechar-modal {
    width: 36px;
    height: 36px;
    line-height: 32px;
  }

}

@media (max-width: 376px) {
  .cabecalho {
    padding: 20px;
  }

  .cabecalho nav li a {
    font-size: 18px;
  }
}
